
.sidebar{
    height: 1024px;
    width: 212px;
    background-color: #FFFFFF;
    border: 1px solid #0000001A;


}
.subheadergroup{
  width: 180px;
  height: 28px;
    display: flex;
    gap: 8px;
    margin-bottom: 4px;
    
}

.subheadergroup1,
.subheadergroup2 {
  position: relative;
  font-size: 14px; /* Adjust font size if needed */
  padding: 5px 3px; /* Ensure padding doesn't change size on hover */
  transition: all 0.3s ease-in-out;
  width: 77px;
  height: 28px;
}
.subheadergroup1:hover,
.subheadergroup2:hover{
    width: 77px;
    background-color: #0000000A; 
    border-radius: 8px; 
    height: 28px;
    transform: translateX(5px); 
  
}
.sidemenu{
    font-size: 14px;
    font-weight:400;
    height: 36px;
    width: 180px;
    display: flex;
    gap: 4px;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  margin-top: 4px;
}

.sidemenu:hover{
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    transform: translateX(5px); 
}
.menu{
    height: 36px;
    width: 180px;
    display: flex;
    gap: 4px;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  margin-top: 4px;
  font-size: 14px;
  font-weight:400;
}
.menu:hover {
    width: 180px;
    background-color: #0000000A; 
    border-radius: 8px; 
    height: 36px;
  }
  
.submenu{
    
    height: 36px;
    width: 180px;
    display: flex;
    gap: 4px;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  margin-top: 4px;
  
}
.submenu:hover {
    width: 180px;
    background-color: #0000000A; 
    border-radius: 8px; 
    height: 36px;
  }
  .submenu span{
    padding:  8px 56px 8px 56px;
  }
span{
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    
}

.subheadergroup span{
    font-size:14px;
    font-weight: 400;
    cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
span:hover{
    
    transition: background-color 0.3s ease-in-out;
    transform: translateX(5px);
}
  .container{
   
    margin:  16px 16px 8px 16px;
    width: 180px;
    height: 172px;
   
  }
  .container .headerimg{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 12px;
 
  }
  .container .headerimg h1{
    margin: 10px 93px 10px 8px;
    color: #000000;
font-size: 14px;
font-weight: 400;
line-height: 20px;
text-decoration-skip-ink: none;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  }
 .container .subheader{
    margin: 10px 4px 4px 12px;
    width: 180px;
    height: 28px;
    font-family: var(--FontFamily);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color:#00000066;

 }
 .container img{
    width: 20px;
    height: 20px;
 }
  .custom-icon-dot{
    color: #00000033;
    font-size: 12px;
  }
  .custom-icon{
    color: #00000033;
    font-size: 12px;
  }
  .custom-icon:hover{
color: #000;
  }
  img{
    border-radius: 18px;
    width: 24px;
    height: 24px;
  }

  .contentimg{
    display: flex;
    gap: 8px;
    
  }
  .contentimg img{
    width: 20px;
    height: 20px;
  }
  .contentdash{
    display: flex;
    gap: 8px;
    height: 28px;
    align-items: center;

  }
  .contentdash h1{
    color:#00000066;
    transition: transform 0.3s ease;
  }
  
  .contentdash h1:hover{
    
    transform: translateX(10px);
  }
  .contentdash h2{
    color: #000000;
    transition: transform 0.3s ease;
  }
  
  .contentdash h2:hover{
    
    transform: translateX(10px);
  }
  
  .contentdash p{
    color: #00000033;
  }
  .content {
   
    margin: 20px 8px 2px 28px;
  }
  .maincontent{
    display: flex;
    margin: 20px 8px 2px 28px;
    gap: 8px;
height: 28px;
width: 268px;
align-items: center;
  }
  .divcontent{
width: 948px;
height: 68px;
border: 1px solid #0000001A;
display: flex;
gap: 308px;
  }
  .inputdiv{
    display: flex;
    gap: 20px;
height: 28px;
width: 316px;
    margin: 20px 28px 20px 0px;
    

  }
  .headerimg{
display: flex;
gap: 8px;
align-items: center;
  }
  input{
    border-radius: 8px;

  }
  .Leftcontent{
    width: 280px;
    height: 36px;

  }
  .Leftcontent h1{
    margin: 24px 20px 0px 20px;
    color: #000;
    font-size: 14px;
    font-weight: 400;
  }

.notification{
  font-size: 14px;
  font-weight:400;
  margin: 4px 16px 18px 16px;
}

  .notificationcontent {
    display: flex;
    flex-direction: column;
    gap: 4px;
   
  
  }
  
  .headernotification {
    display: flex;
    align-items: center;
    padding: 8px;
    height: 52px;
    width: 248px;
    border-radius: 6px;
    transition: transform 0.3s ease-in-out;
    
  }
  .headernotification:hover .headernotificationtext{
    transform: scale(1.2);
    
  }
  
  .headernotification img {
    margin: 8px 0px 20px 8px;
    width: 24px;
    height: 24px;
    
  }
  
  .headernotificationtext {
    display: flex;
    height: 36px;
    width: 200px;
    flex-direction: column;
    margin: 8px ;
    gap: 2px;
    transition: transform 0.3s ease;
    transform-origin: left;
    
  }
  .headernotificationtext p {
    margin: 0; 
    padding: 2px 0; 
}
  .headernotificationtext p:first-child {
    color: #000000;
    font-size: 14px;
    font-weight: bold;
  }
  
  .headernotificationtext p:last-child {
    color: #00000066;
    font-size: 12px;
 
  }
  .headernotification:hover .headernotificationtext p:last-child{
    color: #000000;
  }
  

  .container2 { 
    position:relative;
    padding:0;
    margin:0;
   height:28px;
    width: 160px;
}
.input2 { 
    height:28px;
    width: 160px;
    margin-left:-25px;
    padding-left:35px;
    color: #00000033;
    background-color: #0000000A;
border: 1px solid #0000001A;
}
.image2 {
    position:absolute;
    bottom:3px;
    left:-19px;
    width:20px;
    height:20px;
}

.image3 {
  position:absolute;
  bottom:3px;
  left:140px;
  width:20px;
  height:20px;
}


.Overviewcontainer{
  display: flex;
  width: 892px;
  height: 112px;
  gap: 28px;

}
.Overview{
  width: 202px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  padding: 24px ;
}
.Overview p{
  cursor: pointer;
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}
/*
.Overview p:hover{
  transform: translateY(-15px);
  /*
   transform: translateY(-15px);
   Slight upward movement */

.Overviewcontent{
  display: flex;
  gap: 14px;
  height: 36px;
  align-items: center;
 
}

.Numberofproduct{
  display: flex;
  
  font-size: 24px;
  font-weight:600;
}

.overviewpercent{
  display: flex;
  gap: 8px;
  align-items: center;
}
.hovered {
  color: #00bfae; /* Change color when hovered */
  transform: translateX(10px);  /* Slide in effect from top */
}
.overviewpercent img {
  width: 16px;
  height: 16px;
}





.hover-effect {
  transition: transform 0.3s ease-in-out;
  font-size: 12px;
  font-weight: 400;
}

.hover-effect:hover {
  transform: translateX(10px);
 
}

.containerpie{
  width: 384px;
   height: 196px;
     padding: 38px 0px 38px 20px;
      margin: 16px 0px 0px 0px;
}
.chart{
  width:432px;
  height:280px;
  background-color:#F9F9FA;
  border-radius:16px;
  padding:24px;
  font-size: 14px;
  font-weight:Semi Bold;
}


.chart h2 {
  transition: transform 0.3s ease;
}

.chart h2:hover {
  transform: translateX(10px); /* Moves the text 10px to the right */
}
.traffic{
  padding: 24px;
  width: 202px;
  height: 330px;
  display:flex;
  gap:16px;
  flex-direction:column;
  background-color: #F9F9FA;
  border-radius: 16px;
  
  font-size: 14px;
  font-weight:400;
}
.ptraffic{
  transition: transform 0.3s ease;
  
}
 .ptraffic:hover{
  transform: translateX(10px);
}
.trafficcontent{
  transition: transform 0.3s ease;
  font-size: 12px;
  font-weight:400;
}
.trafficcontent:hover{
  transform: translateX(10px);
}