.App {
  background-color: #FFFFFF;
  display: flex;
  height: 100vh; /* Full height of the viewport */
  overflow: hidden;
}
body{
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  font-family: "Inter", sans-serif;
}

















