@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  /*max-width: 1240px;*/
  display: flex;
  height: 100vh;
  background-color: white;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Inter", serif;
  height: 100vh;
 
}

.nav-links {
 display: none;
  width: 18%;
  background-color: #fff;
  border: 1px solid #0000001a;
  height: 100vh;
  position: fixed;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 0;
  padding-bottom: 64px;
}


.Overview .Numberofproduct p {
  transition: transform 0.3s ease;
}
.Overview .Numberofproduct p:hovered {
  transform: translateY(-15px);
}

.Numberofproduct p:first-child {
  transition: transform 0.3s ease;
}

.Numberofproduct p:first-child:hover {
  transform: translateY(-15px);
}
.Numberofproduct p:nth-child(2) {
  transition: transform 0.3s ease-out;
}

.Numberofproduct p:nth-child(2):hover {
  transform: translateY(-15px);
}

.Numberofproduct p:nth-child(3) {
  transition: transform 0.3s ease;
}

.Numberofproduct p:nth-child(3):hover {
  transform: translateY(-15px);
}

.Numberofproduct p:last-child {
  transition: transform 0.3s ease;
}

.Numberofproduct p:last-child:hover {
  transform: translateY(-15px);
}


@media screen and (max-width: 768px) {

.nav-links {
display: none;
  flex-direction: column;
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  gap: 0;
  background: #444;
}

.nav-links.open {
  display: flex;
}
}